<app-header></app-header>
<div class="theatre-movies">
            <div class="top">
                <h4>Phổ biến tại rạp</h4>
            </div>
            <div class="movies-thumnail">
                <div class="movie" *ngFor="let movie of theatreMovies">
                    <div class="cover">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name">{{movie.name}}</div>
                        <div class="rating">
                            <span class="rating-value">{{movie.rating}}</span>
                            <ng-template #t let-fill="fill">
                                <span class="star">
                                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                                </span>
                            </ng-template>                           
                            <ngb-rating
                                [(rate)]="movie.rating"
                                [starTemplate]="t"
                                [readonly]="true"
                                [max]="5"
                            ></ngb-rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>